@import '../components/slider/slider.scss';

body {

    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;

    letter-spacing: 2px;

    color: #ffffff;
    background-color: #000000;

    margin: 0;

}

.container {
    width: 1440px;
    margin: 0 auto;

    background-image: url('../images/jpg/main-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000000;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: normal;

    text-transform: uppercase;
    letter-spacing: 3px;

    margin: 0;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;

    text-transform: uppercase;
    letter-spacing: 2px;
}


.hero {
    text-align: center;

    margin: 0 auto;
    margin-top: 225px;

    &__subtitle {
        margin: 0;
    }

    &__buy {
        margin: 0 auto;
        margin-top: 23px;

        width: 260px;
        height: 60px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        text-decoration: none;

        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

        border-radius: 5px;

        background: linear-gradient(to right, #FFB548,
                #F3AF34);

        color: #000000;

        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: bold;

        letter-spacing: 0;
    }

    &__scroll {
        margin-top: 364px;

        background: none;
        border: none;

        color: #ffffff;

        text-transform: uppercase;

        line-height: 22px;

        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: bold;

        position: relative;

        &::after{
            content: "";

            position: absolute;
            left: 35%;
            bottom: -15px;

            width: 23px;
            height: 11px;

            background-image: url('../images/png/scroll-down.png');
        }
    }

}

.buy {
    &__title {
        position: relative;

        margin-left: 17px;

        &::after {
            content: "";

            position: absolute;

            right: -15px;

            width: 1px;
            height: 24px;

            transform: rotate(-2.5deg);

            background-color: #1A1917;
        }
    }

    &__price {
        margin-right: 17px;
    }
}