extends template/layout

block content 
    .hero 
        .hero-content
            h1.hero__title SURVIVE AT ALL COSTS
            h3.hero__subtitle Experience new social battle royale game
            a(href="#").hero__buy.button
                p.button__title Buy now on Steam
                p.button__prise $ 14.99
            button.hero__scroll The story 

    .about 
        .about__content 
            .about__text 
                h3.about__subtitle What is SOS?
                h2.about__title Social battle royale game
                p.about__game-text 
                    | Each round, you and 15 other contestants compete to escape a deadly island filled with monsters. The trick is: three people can survive. Will you run solo or form friendships with others to escape? 
                    | Making the right decisions could be the difference between life and death.

            .about__slider.slider

    .features 
        .features__content 
            h3.features__subtitle What’s so special?
            h2.features__main-title Features
            ul.features__list 
                li.features__item
                    h4.features__title SURVIVE AT ALL COSTS
                    p.features__text You have 30 minutes to find a relic, signal for extraction, and grab one of three spots on the rescue chopper.
                li.features__item 
                    h4.features__title CREATE ALLIES AND ENEMIES
                li.features__item 
                    h4.features__title IMPRESS THE AUDIENCE

    .requirements
        .requirements__content 
            h3.requirements__subtitle Can My Computer Run this game?
            h2.requirements__title System requirements
            
            table.requirements__table.table
                tbody
                    tr
                        td
                            h3.table__title Os:
                            P.table__text Windows 7 64-bit only (No OSX support at this time)
                        td
                            h3.table__title Processor:
                            P.table__text Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                    tr
                        td
                            h3.table__title Memory:
                            P.table__text 8 GB RAM
                        td
                            h3.table__title Storage:
                            P.table__text 8 GB available space
                    tr
                        td colspan="2"
                            h3.table__title Graphics
                            P.table__text NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)

        .press-quotes
            .press-quotes__container 
                .press-quotes__content 
                    h3.press-quotes__subtitle What people think?
                    h2.press-quotes__title Press quotes
                    p.press-quotes__text Our goal is to create a product and service that you’re satisfied with and use it every day. This is why we’re constantly working on our services to make it better every day and really listen to what our users has to say.
                    a(href="#").press-quotes__button read more testimonials
            
                .press-quotes__quotes 
                    .quote__evan
                        .quote__header
                            .quote__avatar  
                                img(src="", alt="")
                            .quote__content  
                                p.quote__author Evan Lahti
                                p.quote__position PC Gamer
                            .quote__icon 
                                img(src="", alt="")
                        p.quote__text “One of my gaming highlights of the year.”
                        .quote__date October 18, 2018

                    .quote__jada
                        .quote__header 
                            .quote__avatar  
                                img(src="", alt="")
                            .quote__content                             
                                .quote__author Jada Griffin 
                                .quote__position Nerdreactor
                            .quote__icon 
                                img(src="", alt="")
                        p.quote__text “The next big thing in the world of streaming and survival games.”
                        .quote__date December 21, 2018

                    .quote
                        .quote__header
                            .quote__avatar  
                                img(src="", alt="")
                            .quote__content 
                                .quote__author Aaron Williams 
                                .quote__position Uproxx
                            .quote__icon 
                                img(src="", alt="")
                        p.quote__text “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”
                        .quote__date December 24, 2018
        
    .newsletter-subscribe
        .newsletter-subscribe__container 
            h3.newsletter-subscribe__subtitle
            h2.newsletter-subscribe__title
            p.newsletter-subscribe__text
            .newsletter-subscribe__subscribe
                .subscribe__form-group
                    input#email(type="email" required)
                    label(for="email") Your email address
                button.subscribe__button Subscribe now
    