mixin header(data)

	- data = data || {}

	//- модификатор
	+modif('header', data.mod)

	//- префикс
	+prefix('header', data.prefix)

	//- атрибуты
	- attr = data.attr || ''

	div(class=`header${pr}${mod}`)&attributes(attr)

		.header__wrapper(id="section1")
			.header__logo 
				a(href="#")
					img(src="../images/png/logo.png", alt="Sos logo").header__logo--img
		
			.header__nav.nav
				ul.nav__list 
					li.nav__item
						button.nav__item--link.button(data-section="section1") Main 
					li.nav__item
						button.nav__item--link.button(data-section="section2") About 
					li.nav__item
						button.nav__item--link.button(data-section="section3") Game features
					li.nav__item
						button.nav__item--link.button(data-section="section4") System requirements
					li.nav__item
						button.nav__item--link.button(data-section="section5") Quotes 
			
			.header__right.right
				.right__language.language
					button.language__toggle.button ENG
					ul.language__dropdown
						li.language__option.button RU
						li.language__option.button FRA
						li.language__option.button DEU
				.header__icons
					a.icon(href="#")
						img(src="../images/png/xbox-icon.png" alt="Xbox")
					a.icon(href="#")
						img(src="../images/png/steam-icon.png" alt="Steam")

						
